@import "tailwindcss";

@theme {
  --color-lighthover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  --font-outfit: "Outfit", sans-serif; 
  --font-ovo: "Ovo", serif;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: Outfit;
}